.errorMessageOverlay {
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10001;

    .title {
        font-size: 20px;
        font-weight: bold;
        color: #f64654;
    }

    .messages {
        margin-top: 32px;

        .message {
            font-size: 16px;
            white-space: pre;
        }
    }

    .doneButton {
        margin-top: 64px;
    }
}