.notifications-wrapper {
    .notifications-tc, .notifications-tr, .notifications-tl {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        padding: 16px !important;
        margin: 0 !important;
        left: 0 !important;
        top: 50px !important;
        pointer-events: none;
    }

    .notifications-tc {
        align-items: center;
    }
    .notifications-tl {
        align-items: flex-start;
    }
    .notifications-tr {
        align-items: flex-end;
    }

    .notification {
        border: solid 1px #cccccc;
        border-radius: 2px !important;
        background-color: #ffffff !important;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
        padding: 16px !important;
        width: auto !important;
        min-width: 320px;
        max-width: 50%;
        overflow: hidden;
        pointer-events: auto;

        .notification-title {
            text-transform: uppercase;
            font-size: 14px !important;
        }

        .notification-message {
            font-size: 13px !important;
        }

        .notification-dismiss {
            display: none;
        }

        &.notification-info {
            border-top-color: #666666 !important;

            .notification-title {
                color: #666666 !important;
            }
        }

        &.notification-success {
            border-top-color: #008fd5 !important;

            .notification-title {
                color: #008fd5 !important;
            }
        }

        &.notification-warning {
            border-top-color: #fdc228 !important;

            .notification-title {
                color: #fdc228 !important;
            }
        }

        &.notification-error {
            border-top-color: #f64654 !important;

            .notification-title {
                color: #f64654 !important;
            }
        }
    }
}