.tooltipText {
    position: relative;

    > .tooltip {
        padding: 8px 12px;
        background: #616161;
        color: white;
        border-radius: 2px;
        opacity: 0;
        position: absolute;
        font-size: 14px;
        margin-bottom: 12px;
        top: -10000px;
        height: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        max-width: 60vw;
        transition: opacity 0.25s;
        transition-delay: 0s;
        z-index: 10003;

        &::before {
            content: " ";
            position: absolute;
            height: 6px;
            left: 0;
            right: 0;
            top: 100%;
        }
        &::after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border: 5px solid transparent;
            border-top-color: #616161;
        }
    }

    &:hover > .tooltip {
        top: -6px;
        height: auto;
        opacity: 0.9;
        transition-delay: 0.5s;
    }
}
