<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width">
    <meta name="HandheldFriendly" content="true">
    <meta name="mobile-web-app-capable" content="yes">
    <title>React Boilerplate</title>
</head>
<body>
<div id="root">
    <div style="position: absolute; top: 50%; width:100%; text-align: center; -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);">
        <img src="/images/loading.gif">
    </div>
</div>
</body>
</html>
